/** @format */

.title-text {
}
.title-text h3 {
  font-weight: 400;
  background: #222;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 4px;
}
.title-text h3:hover {
  background: #111;
}
